/* TlDraw Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("tldraw/tldraw.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.envisionParent {
  height: 70vh;
  width: 100vw;
}

/* Header Component */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010041;
  color: white;
  padding: 1px 2rem;
  width: 100%;
  box-sizing: border-box;
}
.nav {
  margin-right: 100px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}
.nav-list li {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
.nav-list i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.nav-list a {
  color: white;
  text-decoration: none;
}
.nav-list a:hover {
  text-decoration: underline;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  padding-bottom: 3rem;
}
/* Hero Component */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 100%;
  overflow: hidden;
}
.hero-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image:first-child {
  z-index: 2;
  width: 30%;
  height: auto;
  top: 10%;
  left: 10%;
}

.hero-image:last-child {
  z-index: 1;
  width: 100%;
}

/* Footer Component */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1px;
  background-color: #010041;
  color: white;
  box-sizing: border-box;
}
