table {
  background-color: skyblue;
}

tr {
  background-color: whitesmoke;
}

td {
  padding: 4px;
} */

.foo {
  color: aqua;
}

.total-budget {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: darkred;
  font-weight: bold;
}

.reservation-group {
  margin-bottom: 40px;
  margin-left: 15px;
}

h2 {
  margin-top: 0;
  /* color: green; */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.trip-title {
  color: darkblue;
  font-weight: bolder;
  text-shadow: 1px 1px gray;
}